
body {
    background-color: rgb(207, 172, 223);
  }
  
  h1 {
    font-family: eckmann;
    color: #540e66;
    text-align: center;
    font-size: 40px;
  }
  
  p {
    color: #f0e15e;
    font-family: blackoat std;
    font-size: 10px;
  }

  h2 {
    color: #f0e15e;
    font-family: blackoat std;
    font-size: 10px;
  }