
body {
    background-color: rgb(207, 172, 223);
  }
  
  h1 {
    font-family: ITC clearface std;
    color: #540e66;
    text-align: center;
    font-size: 40px;
  }
  
  p {
    color: #f0e15e;
    font-family: blackoak std;
    font-size: 20px;
  }

  h2 {
    color: #dba903;
    font-family: blackoak std;
    font-size: 30px;
  }