
body {
    background-color: rgb(207, 172, 223);
  }
  
  h1 {
    font-family: Blackoak Std;
    color: #ffffff;
    text-align: center;
    font-size: 40px;
  }
  
  p {
    color: #fafafa;
    font-family: Apercu-Mono;
    font-size: 20px;
  }

  h2 {
    color: #000000;
    font-family: Apercu-Mono;
    text-align: center;
    font-size: 30px;
  }